<h1>welcome to our site</h1>
<a href="google.com" style="text-decoration:none; padding:10px; background-color:cyan;">Visit</a>

<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ccc;">Name</th>
            <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ccc;">Query</th>
            <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ccc;">Email</th>
            <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ccc;">Ip address</th>
        </tr>
    </thead>
    <tbody>
     
            <tr>
                <td style="padding: 10px; text-align: left;">{{ contact.name }}</td>
                <td style="padding: 10px; text-align: left;">{{ contact.query }}</td>
                <td style="padding: 10px; text-align: left;">{{ contact.email }}</td>
                <td style="padding: 10px; text-align: left;">{{ ip_address }}</td>
            </tr>
    
    </tbody>
</table>